# Ativa o motor de reescrita de URLs
RewriteEngine On

# Define a base do URL para o diretório raiz
RewriteBase /

# Se a requisição for para um ficheiro que existe, não faz nada
RewriteCond %{REQUEST_FILENAME} !-f
# Se a requisição for para um diretório que existe, não faz nada
RewriteCond %{REQUEST_FILENAME} !-d

