# Ativa o motor de reescrita de URLs
RewriteEngine On

# Define a base do URL para o diretório raiz
RewriteBase /

# Regra 1: Redireciona o diretório raiz para a pasta /public/
RewriteRule ^$ public/ [L]

# Regra 2: Redireciona qualquer requisição que NÃO seja para um ficheiro ou diretório existente
# para a pasta /public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]
